@model List<Storyphase.Models.Stories>
<br /><br />
<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-4">
            <div class="card md-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size:23px; color:blueviolet;">@item.Title</label>
                    </h4>
                </div>
                <img class="card-img-top" style="width:100%; height:180px" src="@item.Image" alt="Card Image" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            @if (!item.SpecialTags.Name.Equals("--None--"))
                            {
                                <label style="font-size: 20px; color: #a51313"><b>@item.SpecialTags.Name</b></label>
                            }
                        </div>
                        <a asp-action="Details" asp-controller="Stories" class="btn pull-right btn-outline-info" asp-route-id="@item.Id">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

