@model Lab9.Models.Story
<!-- statement below required to use Razor TagHelpers -->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!--
  Edit.cshtml - View to edit existing course details, uses razor syntax
  ver 1.0
  Jim Fawcett, CSE686 - Internet Programming, Spring 2019
-->


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Story</h4>
<hr />
<div>
    <div>
        <form asp-controller="Story" asp-action="Edit" method="post">
            <spacer-10></spacer-10>
            <table>
                <tr>
                    <td><label asp-for="Id"></label></td>
                    <td><input asp-for="Id" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Title"></label></td>
                    <td><input asp-for="Title" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Category"></label></td>
                    <td><input asp-for="Category" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Author"></label></td>
                    <td><input asp-for="Author" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Description"></label></td>
                    <td><input asp-for="Description" /></td>
                </tr>
            </table>
            <spacer-25></spacer-25>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
