<li class="dropdown">
    <a asp-area="User" asp-controller="Stories" asp-action="Index" class="dropdown-toggle nav-link text-white-50" data-toggle="dropdown">Stories</a>
    <ul class="dropdown-menu">
        @foreach(var privacy in Model)
        {
            <li>
                <a asp-controller="Stories" asp-action="List" asp-route-id="@privacy.Id">@privacy.Name</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Stories" asp-action="Index">View All Stories</a>
        </li>
    </ul>
</li>