
body {
  font-family: Tahoma;
  margin: 3% 5%;
  transition: all 0.5s ease-in-out;
}

button:hover {
  font-weight: bolder;
  font-size: large;
  transition: 0ms;
}

button {
  font-size: 15px;
  background-color:cornsilk;
  border:3px solid maroon;
  padding: 0.3em 0.5em;
  cursor: pointer;
  transition: 0.5s ease-out;
}

a.darktheme {
  background-color: #333333;
  color: cornsilk;
}

.darktheme {
  background-color: #333333;
  color: cornsilk;
}

a.linkdarktheme {
  color: cornsilk;
}

.lighttheme {
  background-color: cornsilk;
  color: maroon;
}

a.linklighttheme {
  color:maroon;
}

.wrap {
  width: 100%;
  margin: 5px -10px; 
  text-align: right;
}

.wrap.darktheme {
  background-color: #333;
  border: 2px solid #333;
}

.wrap.lighttheme {
  background-color: #EEE;
  color: maroon;
  border: 2px solid #EEE;
}

label {
  cursor: pointer;
}

#lab-description {
  height: 400px;
  color: #333;
  margin: 0 20px;
  padding: 10px 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
}

footer p {
  position: fixed;
  text-align: center;
  font-size: 14px;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid;
  padding: 5px;
  margin: 0;
}

footer.lighttheme {
  background-color: mintcream;
  color: maroon;
  border-top-color: #333;
}
footer.darktheme {
  background: #333;
  color: cornsilk;
  border-top-color: cornsilk;
}
