@{
    ViewData["Title"] = "Exist";
}
<style>
    .conflict-container {
        height: 100vh;
        font-family: "Montserrat", "sans-serif";
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .conflict-container > a {
        color: black;
    }
    .error-msg{
        margin-top: 20px;
        margin-bottom:50px;
    }
   
</style>
<div class="conflict-container">
    <h1>An error has occured: </h1>
    <h4 class="error-msg">Title "@ViewBag.stories.Title" already exists, please pick another title. &nbsp;<span class="ascii">(╯°□°）╯︵ ┻━┻</span></h4>
    
    <a href="##" onClick="history.go(-1); return false;" class="btn btn-outline-info">Go back</a>
</div>
<br />
