@page
@model CRUD_Razor.Pages.StoryList.EditStoryModel
@{
    ViewData["Title"] = "CreateStory";
}

<h1>Edit Story</h1>
<br />
<div style="border:1px solid #bbb9b9; border-radius:10px;">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input hidden asp-for="story.Id" />
        <div class="row" style="padding: 30px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label asp-for="story.Title"></label>
                    </div>
                    <div class="col-sm-10">
                        <input asp-for="story.Title" class="form-control" />
                    </div>
                    <span asp-validation-for="story.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label asp-for="story.Author"></label>
                    </div>
                    <div class="col-sm-10">
                        <input asp-for="story.Author" class="form-control" />
                    </div>
                    <span asp-validation-for="story.Author" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label asp-for="story.Description"></label>
                    </div>
                    <div class="col-sm-10">
                        <input asp-for="story.Description" class="form-control" />
                    </div>
                    <span asp-validation-for="story.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label asp-for="story.CreateTime"></label>
                    </div>
                    <div class="col-sm-10">
                        <p>@DateTime.Now</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="EditStory" class="btn btn-primary btn-sm" />
                <a asp-page="Index" class="btn btn-success btn-sm">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}