@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Lab7.Models.Project
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <h1>Index Page</h1>
</header>

<section class="columns">

    <div class="column">
        <h2>Project </h2>
        <a asp-action="About">About</a>
        <p>Some Text Here</p>
    </div>

    <div class="column">
        <h2>Labs</h2>
        <a asp-action="Labs">Labs</a>
        <p>Some Text Here</p>
    </div>

    <div class="column">
        <h2>Content Area</h2>
        <p>Some Text Here</p>
    </div>

</section>